// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PRINT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
    background: none;
}
.noprint {
    display: none;
}
#Popup {
    display: block;
}
#Wrap {
    display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
