// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* TILES / Reveal-Unique */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section.reveal {
    /// UNIQUE

    &._tools {
        padding: 1em 0 1em 1em;
    }
    &._advert {
        font-size: 150%;
        padding: 2em 0 2em 1em;
    }

}
section.reveal article {

    &.standard,
    &.center,
    &.left,
    &.right {

        .mobile & {
            clear: both;
            padding-top: 0;
            width: 100%;
        }
    }
    &.left {
        padding-left: 0;
    }
    &.center {
        border-left: 1px solid #999;
        padding-left: 1em;
    }
    &.right {
        border-left: 1px solid #999;
        padding-left: 1em;
    }
    &.standard {
        margin-right: auto;
        width: 66%;
    }
    .text h3 {
        margin-bottom: 0.5em;

        &:before {
            content: url(../images/controls/pdf-icon.png);
            margin-left: -0.25em;
            margin-right: 0.125em;
        }
        a { text-decoration: none; }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section.reveal._tools,
section.reveal._advert {
    .mobile & article {
        height: auto !important;
        width: 100% !important;
    }

}
section.reveal._tools article {
    &.left { width: 30%; }
    &.center { width: 35%; }
    &.right { width: 30%; }

    .head {
        padding-left: 0.25em;
        padding-top: 0;
    }
}
section.reveal._advert article {
    &.left {
        width: 28%;

        .text h3:before {
            content: url(../images/controls/pdf-icon.png);
            padding-left: 0.5em;
        }
    }
    &.center {
        width: 40%;

        .text h3:before {
            padding-left: 0.5em;
        }
    }
    &.right {
        width: 26%;

        .text h3:before {
            padding-left: 0.5em;
        }
    }
    .head {
        padding-left: 0.75em;
        padding-top: 0;
    }
    .text h3 {
        line-height: 1.3;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
