// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* TILES / Reveal-Article */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section.reveal article {
    color: $gray;

    &.center,
    &.standard,
    &.left,
    &.right {
        float: left;
        height: 100%;

        .mobile & {
            clear: both;
            padding-top: 0;
            width: 100%;
        }
    }
    &.left {
        width: 32%;
    }
    &.center {
        border-left: 1px solid #999;
        padding-left: 1em;
        width: 38%;
    }
    &.right {
        border-left: 1px solid #999;
        padding-left: 1em;
        width: 26%;
    }
    &.standard {
        margin-right: auto;
        width: 66%;

        ul {
            margin-left: 1.5em;
        }
        li {
            margin-bottom: 0.5em;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
