// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* TILES / Unique */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout.tiles {
    $_orange: $a_d_orange;
    $_red:    $a_d_red;
    $_green:  $a_d_green;
    $_purple: $a_d_plum;
    $_teal:   $a_d_teal;
    $_poop:   $a_ebony;
    $_brown:  $a_d_ebony;
    $_plum:   $a_d_magenta;
    $_slate:  $a_d_coolgray;

    @mixin span($col: 1, $row: 1) {
        width:  $col * $wt + ($col - 1) * $unit;
        height: $row * $ht + ($row - 1) * $unit;
    }
    article.tile {

        .mobile &:not(.square) {
            width: $lillwidth - 20;
            br { display: none; }
        }
        .mobile &.square {
            max-width: $unit * 14.5;
        }

        //  R1 semantic
        // - - - - - - - - - - - - - - - - - - - - -
        .desktop &._hero {
            background-image: url(../images/photos/hero.jpg);
            background-color: $_slate;
            @include span(4, 2);
        }
        &._sept {
            background-image: url(../images/misc/burnish.png), url(../images/misc/quiz.png);
            background-position-x: 50%, 100%;
            background-position-y: 100%, 50%;
            background-repeat: repeat-x, no-repeat;
            background-color: $_purple;
            @include span(2, 2);

            .mobile & {
                height: 12em;
            }
        }
        //  R3 semantic
        // - - - - - - - - - - - - - - - - - - - - -
        &._promo {
            background-image: url(../images/misc/burnish.png);
            background-color: $_poop;
            @include span(2);

            .mobile & {
                padding-right: 3em;
            }
        }
        &._babe {
            background-image: url(../images/photos/sq_babe.jpg);
            @include span();
        }
        &._redeem {
            background-color: $_teal;
            background-position: 0% 0%;
            @include span(3);

            h2 {
                text-indent: -0.1em;
            }
            .mobile & {
                background-position: 20% 0%;
                padding-left: 12em;
                padding-right: 1em;
            }
        }
        //  R4 semantic
        // - - - - - - - - - - - - - - - - - - - - -
        &._tools {
            background-image: url(../images/misc/burnish.png);
            background-color: $_plum;
            padding-right: 3em;
            @include span(2.5);

            .mobile & {
                height: 14em;
                width: 47% !important;
            }
        }
        &._advert {
            background-image: url(../images/misc/burnish.png);
            background-color: $_orange;
            @include span(1.75);
        }
        &._faq {
            background-image: url(../images/misc/burnish.png);
            background-color: $_green;
            @include span(1.75);

            .mobile & {
                height: 14em;
                padding-right: 1em;
                width: 47% !important;
            }
        }
        //  R5 semantic
        // - - - - - - - - - - - - - - - - - - - - -
        &._october {
            background-image: url(../images/misc/burnish.png);
            background-color: $_teal;
            @include span(2);
        }
        &._phone {
            background-image: url(../images/photos/sq_phone.jpg);
            @include span();
        }
        &._learn {
            background-image: url(../images/misc/burnish.png);
            background-color: $_purple;
            @include span(2);
        }
        &._email {
            background-image: url(../images/misc/burnish.png);
            background-color: $_red;
            @include span();
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
