// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC / Mobile */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.ui-loader {
    display: none;
}
.desktop body .mobile {
    display: none !important;
}
.mobile body .desktop {
    display: none !important;
}
.mobile .mobile {
    display: inherit !important;
}
html.mobile {
    font-size: 13px;

    .ui-page {
        width: $lillwidth + 20;
    }
}
html.ipad {
    .ui-page {
       width: $fullwidth + 20;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
