// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* SCROLL */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.is-port {
    cursor: -webkit-grab;
    .msie & { cursor: move; }
    overflow: hidden;
    position: absolute;
    z-index: 1;

    *:active {
        cursor: -webkit-grabbing;
    }
    .is-view {
        display: block;
        position: relative;
        z-index: 1;
        @include text-size-adjust( none );
        @include transform( translateZ(0) );
        @include user-select( none );
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
    }
    .iScrollHorizontalScrollbar,
    .iScrollVerticalScrollbar { // all
        background: rgba(0, 0, 0, 0.1);
        .msie & { background-color: rgb(0, 134, 180); }
        opacity: 0.3;
        overflow: hidden;
        position: absolute;
        z-index: 9999;

        :not(msie):hover & {
            opacity: 1;
        }
    }
    .iScrollHorizontalScrollbar {
        bottom: 0;
        height: $unit;
        left: 0;
        right: 0;
    }
    .iScrollVerticalScrollbar {
        bottom: 0;
        right: 0;
        top: 0;
        width: $unit;
    }
    .iScrollIndicator {
        background-color: rgba(0, 0, 0, 0.4);
        .msie & { background-color: rgb(0, 107, 144); }
        opacity: 0.5;
        position: absolute;

        &:hover {
            :not(.msie) & { background-color: $red; }
            cursor: pointer;
            .msie & { cursor: not-allowed; }
        }
    }
    .iScrollHorizontalScrollbar .iScrollIndicator {
        height: 100%;
    }
    .iScrollVerticalScrollbar .iScrollIndicator {
        width: 100%;
    }
    .iScrollBothScrollbars { // only when both show
        &.iScrollHorizontalScrollbar {
            right: $unit;
        }
        &.iScrollVerticalScrollbar {
            bottom: $unit;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import "_reveal";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
